<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Miré los muros de la patria mía,</string>
	<string>si un tiempo fuertes ya desmoronados</string>
	<string>de la carrera de la edad cansados</string>
	<string>por quien caduca ya su valentía.</string>
	<string>Salime al campo: vi que el sol bebía</string>
	<string>los arroyos del hielo desatados,</string>
	<string>y del monte quejosos los ganados</string>
	<string>que con sombras hurtó su luz al día.</string>
	<string>Entré en mi casa: vi que amancillada</string>
	<string>de anciana habitación era despojos,</string>
	<string>mi báculo más corvo y menos fuerte.</string>
	<string>Vencida de la edad sentí mi espada,</string>
	<string>y no hallé cosa en que poner los ojos</string>
	<string>que no fuese recuerdo de la muerte.</string>
</array>
</plist>
