<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>¿Qué tengo yo, que mi amistad procuras?</string>
	<string>¿Qué interés se te sigue, Jesús mío,</string>
	<string>que a mi puerta, cubierto de rocío,</string>
	<string>pasas las noches del invierno oscuras?</string>
	<string>¡Oh, cuánto fueron mis entrañas duras,</string>
	<string>pues no te abrí! ¡Qué extraño desvarío,</string>
	<string>si de mi ingratitud el hielo frío</string>
	<string>secó las llagas de tus plantas puras!</string>
	<string>¡Cuántas veces el ángel me decía:</string>
	<string>«Alma, asómate ahora a la ventana,</string>
	<string>verás con cuánto amor llamar porfía»!</string>
	<string>¡Y cuántas, hermosura soberana,</string>
	<string>«Mañana le abriremos», respondía,</string>
	<string>para lo mismo responder mañana!</string>
</array>
</plist>
