<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mientras por competir con tu cabello</string>
	<string>Oro bruñido al sol relumbra en vano,</string>
	<string>Mientras con menosprecio en medio el llano</string>
	<string>Mira tu blanca frente al lilio bello;</string>
	<string>Mientras a cada labio, por cogello,</string>
	<string>Siguen más ojos que al clavel temprano,</string>
	<string>Y mientras triunfa con desdén lozano</string>
	<string>Del luciente cristal tu gentil cuello,</string>
	<string>Goza cuello, cabello, labio y frente,</string>
	<string>Antes que lo que fue en tu edad dorada</string>
	<string>Oro, lilio, clavel, cristal luciente,</string>
	<string>No sólo en plata o vïola troncada</string>
	<string>Se vuelva, más tú y ello juntamente</string>
	<string>En tierra, en humo, en polvo, en sombra, en nada.</string>
</array>
</plist>
